*{
    margin: 0;
}

h1 {
    color: #EB703C;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #EB703C;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h3 {
    color: #EB703C;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 4rem;
    text-align: left;
}

.about-description {
    color: #6A5E46C;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}

h5 {
    color: #2F5057;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 2rem;
    padding-left: 2rem;
}

h6 {
    color: #2F5057;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 2rem;
    padding-left: 2rem;

}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

header {
    background-color: #EBE4D7;
    display: flex;
    padding: 1rem 0;
    padding-left: 2rem;
          
}

.color-break {
    background-color: #EBE4D7;
    display: flex;
    padding: 1rem 0;
    padding-left: 2rem;
    margin: 0;
}

.menu-background {
    background-color: #C9D2D2;
    border-radius: 25px;
    display: flex;
    padding: 1rem 0;
    padding-left: 2rem;
    height: 2120px;
    width: 1286px;
    margin: auto;
}

.responsive {
    width: 100%;
    height: auto;
  }


@media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}

.center-align {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.my-button {
    background: #2F5057;
    border: none;
    border-radius: 8px;
    display: flex;
    padding: 1rem;
    color: #EBE4D7;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transform: translate(165%, 50%);

  }


  .coffe-shop {
      align-items: left;
  }
 