
h1 {
    color: #EB703C;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #EB703C;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

header {
    background-color: #EBE4D7;
    padding: 1rem 0;
}

@media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}

.center-align {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.my-button {
    background: #2F5057;
    padding: 1.5rem;
  }