*{
    margin: 0;
}

h1 {
    color: #EB703C;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #EB703C;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    color: #EB703C;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 4rem;
    text-align: left;
    margin-bottom: 1rem;
}

h4 {
    color:#2F5057;
    padding-left: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h5 {
    color: #2F5057;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 2rem;
    padding-left: 2rem;
}

h6 {
    color: #2F5057;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 2rem;
    padding-left: 2rem;

}

.about-description {
    color: #6A5E46C;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

header {
    background-color: #EBE4D7;
    display: flex;
    padding: 1rem 0;
    padding-left: 2rem;
          
}

footer {
    background-color: #EBE4D7;
    display: flex;
    padding: 2.5rem 4rem;
    padding-left: 2rem;
}

.footer {
    color: #2F5057;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
}

.color-break {
    background-color: #EBE4D7;
    padding: 1rem 0;
    padding-left: 2rem;
    margin: 0;
}

.menu-background {
    background-color: #C9D2D2;
    border-radius: 25px;
    padding: 1rem 0;
    padding-left: 2rem;
    max-width: 1286px;
    margin: auto;
    margin-bottom: 5rem;
}

.responsive {
    width: 100%;
    height: auto;
  }


@media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: full;
    }
    .reverse .headphones {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .reverse .center-align {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.center-align {
    margin: auto;
    width: 70%;
    padding: 10px;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.my-button {
    background: #2F5057;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    color: #EBE4D7;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
    width: auto;
    margin: 0 auto;

  }

  .map {
      padding: 2rem;
      margin-bottom: 4rem;
  }

  .about-columns {
      gap: 7rem;
      padding: 0rem 4rem;
  }

  .about-columns p {
      max-width: 35rem;
  }

  .coffe-shop {
      align-items: left;
  }
 
  .panini-list {
    list-style: none;
    align-items: left;
  }
  
  .panini-list table {
    width: 100%;
  }
  
  .panini-list td {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #2F5057;
    padding-left: 0%;
  }
  
  .panini-list td:first-child {
      width: 67%;
      margin-bottom: 1rem;
  }

  .panini-list p {
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #2F5057;
    max-width: 20rem;
  }

  .drinks {
      width: 85%;
      padding-left: 2.5rem;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #2F5057;
  }

  .drinks td:first-child {
    width: 80%
  }

  li {
      margin-bottom: 1rem;
  }
  
  .tap {
    width: 85%;
    padding-left: 2.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #2F5057;
    margin-bottom: 4rem;
  }
  
  @media screen and (min-width: 800px) {
    .menus {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  