*{
    margin: 0;
}

html {
  scroll-behavior: smooth; 
}


header {
    background-color: black;
    display: flex;
    padding: 1rem 0;
    padding-left: 2rem;
          
}

a {
  color: white;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; 
}

a:hover {
  color: #6F6F6F;
  
}

h1 {
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    padding-top: 2rem;
    padding-left: 2rem;
    color: #5F5F5F;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    padding-top: 5rem;
    text-align: center;
    color: #5F5F5F;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

p {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    color: #5F5F5F;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.my-button {
    background: black;
    border: none;
    border-radius: 17px;
    padding: .75rem;
    color: #EBE4D7;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    width: auto;
    max-width: 150px;
    margin: 0 auto;
  }

  .photo1 {
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .photo2 {
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .photo3 {
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }




  
.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}



footer {
    background-color: black;
    display: flex;
    padding: 2.5rem 4rem;
    padding-left: 2rem;
}

.work-grid img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 0 3rem;
  margin-bottom: 3rem;
}




.responsive {
    width: 100%;
    height: auto;
  }

  iframe {
    display: block;
    margin: 0 auto;
    padding-top: 3rem;
 }

 .desktop {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
 
.desktop-home {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}


@media screen and (min-width: 800px) {
    .two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: full;
    }
    .img {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
   .desktop {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .work-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      padding: 0 3rem;
      margin-bottom: 3rem;
    }

    .img {
      grid-column: 2 / 3
    }


    .desktop {
      padding: 5rem;
      padding-top: 6rem;
      grid-column: 1 / 2
      grid-row: 1/2
    }

    .desktop-home {
      padding: 5rem;
      padding-top: 6rem;
    }

    p {
      font-size: 16px;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 32px;
      margin-top: 5rem;
      margin-bottom: 3rem;
    }


    .my-button {
      background: black;
      border: none;
      border-radius: 17px;
      padding: 1rem;
      color: #EBE4D7;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
      font-family: 'Montserrat', sans-serif;
      display: block;
      width: auto;
      margin-top: 35px;
    }

    .my-button:hover {
      background: #6F6F6F;
      color: #EBE4D7;
      
    }
    
    .photos {
      display: flex;
    }

    .photos2 {
      display: flex;
    }

    .row{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
}



  @media screen and (min-width: 800px) {
    .menus {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column: 2/3;
    }
  }

  